body {
  padding: 5%;
  text-align: center;
  background-color: #eee7e7;
}

.link-home {
  position: absolute;
  left: 30px;
  top: 30px;
}

.text-revealed {
  animation: fade-in 1s;
  visibility: visible;
}

.text-hidden {
  visibility: hidden;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
